doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/fototama.css')
		link(rel='stylesheet', href='css/styles.css')
		link(rel="icon" type="image/ico" href="img/logologo.png")
		title Автотепло
	body
		header
			.head
				.tophead
					ul.dot_inside
								li.nodots
									a.blue(href='#') 15 точек продаж
									|  в г. Челябинск
								li Доставка за 1-2 дня
								li Самовывоз
								li
									.hint_wrapper
										p.show_hint.blue Другой город
										.hint.header_city_menu.hint_check
											.close
												img(src='img/close.png')
											h3 Где вы находитесь?
											.overflow
												form.hint_form_wrapper
													input(type='text', name='city', placeholder='Поиск населенного пункта', autofocus='')
													.clear
														img(src='img/clear.png', alt='clear')
												small.variative
													p Популярные города
												ul.sub_menu
													li
														.crop
															span.city Челябинск 
															span.region Челябинская область
													li
														.crop
															span.city Москва 
															span.region Московская область
													li
														.crop
															span.city Санкт-Петербург 
															span.region Ленинградская область
													li
														.crop
															span.city Ростов 
															span.region Ростовская область
													li
														.crop
															span.city Челябинск 
															span.region Челябинская область
													li
														.crop
															span.city Москва 
															span.region Московская область
													li
														.crop
															span.city Санкт-Петербург 
															span.region Ленинградская область
													li
														.crop
															span.city Ростов 
															span.region Ростовская область
													li
														.crop
															span.city Челябинск 
															span.region Челябинская область
													li
														.crop
															span.city Москва 
															span.region Московская область
													li
														.crop
															span.city Санкт-Петербург 
															span.region Ленинградская область
													li
														.crop
															span.city Ростов 
															span.region Ростовская область
													li
														.crop
															span.city Челябинск 
															span.region Челябинская область
													li
														.crop
															span.city Москва 
															span.region Московская область
													li
														.crop
															span.city Санкт-Петербург 
															span.region Ленинградская область
													li
														.crop
															span.city Ростов 
															span.region Ростовская область
				.headnav
					ul.blue_menu
						li.hidden-sm.hidden-xs.active
							a(href='#') Продукция
						li.hidden-sm.hidden-xs
							a(href='#') Где купить
						li.hidden-md.hidden-sm.hidden-xs
							a(href='#') Партнерство
						li.hidden-lg.hidden-md.hidden-sm.hidden-xs
							a(href='#') Компания
						li.hover_parent
							.dotted_burger
								span &#9679;
								span &#9679;
								span &#9679;
								ul.sub_menu.header_nav_sub_menu.hint
									li.hidden-xl.hidden-lg.hidden-md
										a(href='#') Продукция
									li.hidden-xl.hidden-lg.hidden-md
										a(href='#') Где купить
									li.hidden-xl.hidden-lg
										a(href='#') Партнерство
									li.hidden-xl
										a(href='#') Компания
									li.active
										a(href='#') СМИ о нас
									li
										a(href='#') Доставка и оплата
									li
										a(href='#') Гарантия и возврат
					.contacts.hidden-xs
						.tel.parent
							.worktime
								span С 6 до 21
								span.dott &#8226;
								span Бесплатно
							a(href='tel:88005554374') 8 800 511 31 51
							.hint.telhint
								p Бесплатно со всех телефонов России
						a.hidden-md.hidden-sm.hidden-xs(href='#') Контакты
						div
							a.cart.hidden-sm.hidden-xs(href='#')
								span 0
				.logo.parent
					a.black_logo(href='#')
						img(src='img/logoblack.png')
					.hint
						p На главную страницу
				.container-fluid.banner.avtoteplo
					.white_320_transparent_bg
					.row.banner_content
						.col-lg-4.col-lg-offset-1
							.title_block
								h1.nowrap Автотепло —
									br
									| утеплитель
									br
									| для двигателя
									br
									| автомобиля
								p Что бы не бояться морозов, не ждать прогрева в холодном салоне и не соскребать наледь с капота по утрам.
								p И что бы сжигать зимой на 20—30% топлива меньше, чем обычно.
							iframe(width='373', height='209', src='https://www.youtube.com/embed/7PGbjTmK49s', frameborder='0', allowfullscreen='')
							p Обзор в передаче НТВ «Главная Дорога»
					.row.banner_bottom_row.banner_content
						.col-lg-8.banner_menu_bottom
							ul.blue_menu.smooth_links
								li.active
									a(href='#advantages_a') Преимущества
								li.hidden_320
									a(href='#technology_a') Технология и хар-ки
								li.hidden-xs
									a(href='#buy_a') Совместимость
								li.hidden-sm.hidden-xs
									a(href='#podd_a') Подделки
								li.hidden-sm.hidden-xs
									a(href='#video_a') Видео
								li.hover_parent.hidden-xl.hidden-lg.hidden-md
									.dotted_burger
										span •
										span •
										span •
									ul.sub_menu.header_nav_sub_menu.hint
										li.active.hidden-sm.hidden-xs
											a(href='#advantages_a') Преимущества
										li.hidden-sm.hidden-xs.visible_480
											a(href='#technology_a') Технология и хар-ки
										li.hidden-sm
											a(href='#buy_a') Совместимость
										li
											a(href='#podd_a') Подделки
										li
											a(href='#video_a') Видео
						.col-lg-4.smooth_links
							.price_block
								span.yellow_bg.bold.hidden-md.hidden-sm.hidden-xs
									| от 
									span.price_wrapper
										| 1500
										span.price &#8381;
								span.grey.crossed.hidden-md.hidden-sm.hidden-xs
									| 1900
									span.price &#8381;
								a.blue_round_btn(href='#buy_a') Купить
		section#advantages_a
			h2 Адаптируйте автомобиль под климат
			p Если зимой у вас регулярны морозы от 
				span.bold -10’C
				| , то автотепло окупится в первый же год.
				| Все благодаря экономии топлива за счет сокращения времени прогрева после стоянки
				| и более редкому включению автопрогрева. Что еще даёт автотепло:
			.cardcontent
				.card
					img(src='img/auto1.png')
					h3 В салоне тепло за 15 секунд
					p За счёт сокращения времени прогрева двигателя
				.card
					img(src='img/auto2.png')
					h3 Нет наледи на капоте
					p Только снег, который легко убрать простой щёткой
				.card
					img(src='img/auto3.png')#auto3img
					h3 В мороз легче завестись
					p С &#171;автотепло&#187; машина остывает полностью на 6 часов дольше
				.card
					img(src='img/auto4.png')
					h3 Экономия топлива 20-30%
					p На 20 минут в месяц сокращается время прогрева после стоянки
				.card
					img(src='img/auto5.png')
					h3 Меньше слышно шум мотора
					p Автотепло поглащает часть звука двигателя
		section#technology_a
			h2 Наша передовая технология теплоизоляции
			p Наша технология — новое слово в бытовой и автомобильной теплоизоляции. Эти материалы обычно используют в промышленности: например, для защиты от брызг раскалённого металла. При этом они безопасны для человека и окружающей среды.
			.teploiz
			.cardcontent
				.card
					img(src='img/teploiz1.png')#teploiz1img 
					h3 Температуры от -60&#176; до 1200&#176;C
				.card
					img(src='img/teploiz2.png')#teploiz2img 
					h3 Огнеупорные и влагоустой-
						br
						| чивые материалы
				.card
					img(src='img/teploiz3.png')#teploiz3img
					h3 Не боится кислот и щелочей
				.card
					img(src='img/teploiz4.png')
					h3 Не выделяет токсичных веществ
		section#buy_a
			h2 Автотепло под ваш автомобиль
			p Мы производим 25 моделей Автотепла разных форм и размеров. Поэтому наши автоодеяла подойдут на любой легковой и грузовой автомобиль.
			.container-fluid
				.row
					.col-xl-4.col-xl-offset-4.col-lg-6.col-lg-offset-3
						.hint_wrapper
							.autochoice.input_grey.arrow.show_hint
								h3.desc_row.autochoice_title Chevrolet Aveo
							.hint.autochoice_menu
								.close
									img(src='img/close.png')
								.tabs_wrapper
									.tabs.tabs_mark
										a.active(href='#tab_content_1') Легковые
										a(href='#tab_content_2') Грузовые
									.tabs.tabs_model.hidden
										a.back(href='#') Марки
										h4 Chevrolet
								.overflow
									form.hint_form_wrapper
										input(type='text', name='city', placeholder='Поиск марки вашего автомобиля')
										.clear
											img(src='img/clear.png')
									.tab_content_wrapper
										#tab_content_1.tab_content.mark_content.active
											.car_names
												.first_col
													a(href='#')
														span Acura
													a(href='#')
														span Alpina
													a(href='#')
														span Aston Martin
												.second_col
													a(href='#')
														span Alfa Romeo
													a(href='#')
														span Asia
													a.checked.audi(href='#')
														span
															| Audi
															img(src='img/audi.png')
											.car_names
												.first_col
													a(href='#')
														span Bentley
													a(href='#')
														span Brilliance
													a.checked.byd(href='#')
														span
															| Byd
															img(src='img/byd.png')
												.second_col
													a.checked.bmw(href='#')
														span
															| BWM
															img(src='img/bmw.png')
													a(href='#')
														span Buick
											.car_names
												.first_col
													a(href='#')
														span Cadillac
													a.checked.chery(href='#')
														span
															| Chery
															img(src='img/chery.png')
													a(href='#')
														span Citroen
												.second_col
													a(href='#')
														span Changan
													a(href='#')
														span Chevrolet
													a(href='#')
														span Chrysler
										#tab_content_2.tab_content.mark_content
											| hello
										.tab_content.model_content
											.car_names
												.first_col
													a(href='#') Aglle
													a(href='#') Allero
													a(href='#') Astra
												.second_col
													a(href='#') Astro
													a(href='#') Avalanche
													a(href='#') Aveo
											.car_names
												.first_col
													a(href='#') Aglle
													a(href='#') Allero
													a(href='#') Astra
												.second_col
													a(href='#') Astro
													a(href='#') Avalanche
													a(href='#') Aveo
											.car_names
												.first_col
													a(href='#') Aglle
													a(href='#') Allero
													a(href='#') Astra
												.second_col
													a(href='#') Astro
													a(href='#') Avalanche
													a(href='#') Aveo
											.car_names
												.first_col
													a(href='#') Aglle
													a(href='#') Allero
													a(href='#') Astra
												.second_col
													a(href='#') Astro
													a(href='#') Avalanche
													a(href='#') Aveo
											.car_names
												.first_col
													a(href='#') Aglle
													a(href='#') Allero
													a(href='#') Astra
												.second_col
													a(href='#') Astro
													a(href='#') Avalanche
													a(href='#') Aveo
											.car_names
												.first_col
													a(href='#') Blazer
												.second_col
													a(href='#') Bolt
											.car_names
												.first_col
													a(href='#') Camaro
													a(href='#') Caprise
													a(href='#') Captiva
													a(href='#') Cavalier
													a(href='#') Celebrity
													a(href='#') Celta
													a(href='#') Classic
												.second_col
													a(href='#') Cobalt
													a(href='#') Colorado
													a(href='#') Corsa
													a(href='#') Corsica
													a(href='#') Corvette
													a(href='#') Cruze
						.hint_wrapper
							a.autochoice_add.show_hint(href='#') Подобрать Автотепло по размерам капота
							.hint.overflow.autochoice_add_hint
								.close
									img(src='img/close.png')
								h3 Подбор по размерам капота
								.overflow
									form.hint_inputs
										.delivery_input_wrapper.f_left
											input.input_grey(type='text', name='length', placeholder='Длина (см)')
											label Длина (см)
										p на
										.delivery_input_wrapper.f_right
											input.input_grey(type='text', name='length', placeholder='Ширина (см)')
											label Ширина (см)
									.podbor_avto_wrapper
										.added_avto
											.left
												h5.blue Автотепло №1
												span.small.grey Размер
												p 142x88 см
											.right
												img(src='img/avtoteplo_card.jpg')
										.added_avto
											.left
												h5.blue Автотепло №1
												span.small.grey Размер
												p 142x88 см
											.right
												img(src='img/avtoteplo_card.jpg')
										.added_avto
											.left
												h5.blue Автотепло №1
												span.small.grey Размер
												p 142x88 см
											.right
												img(src='img/avtoteplo_card.jpg')
										.added_avto
											.left
												h5.blue Автотепло №1
												span.small.grey Размер
												p 142x88 см
											.right
												img(src='img/avtoteplo_card.jpg')
				.tovar_card
					.fotorama(data-nav='thumbs', data-thumbheight='30', data-loop='true', data-allowfullscreen='true')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
								a(href='img/avtoteplo_card.jpg')
									img(src='img/small_avtoteplo.jpg')
					.tovar_desc
							h4 Автотепло #2
							.sizes
								.size_wrapper
									span размер
									p.size 142x88 см
								.size_wrapper
									span масса не менее
									p.weight 3,5 кг
							.size_wrapper
								span Комплектация
							p.extra Автотепло, паспорт, инструкция, пакет
							.size_wrapper
								span Дополнительно
							p.equipment 1 год гарантии, скидка на Автотепло для аккумулятора
							.tovar_inner
							.price_block
								span.yellow_bg.bold.desc_row
									| 1500
									span.price &#8381;
								span.grey.crossed
									| 1900
									span.price &#8381;
							.order_block
								a.cart_btn.blue_btn_3.show_hint_cart(href='#')
									span В корзину
								.order_block_other
									a(href='/avtoteplo/v_razrabotke.php') Подробнее
									a.bold.bigfont(href='#') Заказать оптом
								.hint.cart_added_list_popup
									.close
										img(src='img/close.png')
									h3 1 товар в корзине
									.added_tovar_wrapper
										.added_tovar
											.left
												h2 Автотепло №2 на Chevrolet Aveo
												span.bold
													| 1500
													span.price &#8381;
												span.grey.crossed
													| 1900
													span.price &#8381;
												.added_tovar_btns
													a.duplicate(href='#') Дублировать
													a.delete(href='#') Удалить
											.right
												img(src='img/avtoteplo_card.jpg')
										.added_tovar
											.left
												h2 Автотепло №2 на Chevrolet Aveo
												span.bold
													| 1500
													span.price &#8381;
												span.grey.crossed
													| 1900
													span.price &#8381;
												.added_tovar_btns
													a.duplicate(href='#') Дублировать
													a.delete(href='#') Удалить
											.right
												img(src='img/avtoteplo_card.jpg')
										.added_tovar
											.left
												h2 Автотепло №2 на Chevrolet Aveo
												span.bold
													| 1500
													span.price &#8381;
												span.grey.crossed
													| 1900
													span.price &#8381;
												.added_tovar_btns
													a.duplicate(href='#') Дублировать
													a.delete(href='#') Удалить
											.right
												img(src='img/avtoteplo_card.jpg')
										.added_tovar
											.left
												h2 Автотепло №2 на Chevrolet Aveo
												span.bold
													| 1500
													span.price &#8381;
												span.grey.crossed
													| 1900
													span.price &#8381;
												.added_tovar_btns
													a.duplicate(href='#') Дублировать
													a.delete(href='#') Удалить
											.right
												img(src='img/avtoteplo_card.jpg')
									.cart_added_list_bottom
										a.continue_shopping.bold(href='#') Продолжить покупки
										a.blue_btn_3(href='#')
											span
												| Оформить заказ на 1500
												span.price &#8381;
							.card_soc
								.size_wrapper
									span Отправить ссылку
								a(href='#')
									img(src='img/card_f.png')
								a(href='#')
									img(src='img/card_vk.png')
								a(href='#')
									img(src='img/card_m.png')
								a(href='#')
									img(src='img/card_t.png')
								a(href='#')
									img(src='img/card_o.png')
			.cardcontent
				.card
					.cardcard
						img(src='img/dib1.png')
						p Доставка почтой, ТК, в постоматы, курьером. Оплата наличными, картами, эл. деньгами.
					a(href="#") Доставка и оплата
				.card
					.cardcard
						img(src='img/dib2.png')
						p Челябинск и область: 42 магазина
					a(href="#") Адреса магазинов
				.card
					.cardcard
						img(src='img/dib3.jpg')
						p Установка на любое авто за две минуты
					a(href="") Видео-инструкция
				.card
					.cardcard
						img(src='img/dib4.jpg')
						p Пройдены все тесты и проверки на безопасность
					a(href="#") Узнать больше
		section#podd_a
			h2 Опасность подделок
			p Когда Автотепло стало популярным, его стали подделывать. В подделках используется опасные для машины и человека материалы: горючая ткань и стекловата. Такой утеплитель пылит на двигатель и в салон, а так же может загореться.
			.fake
				.truetrue
					h4 Оригинальное Автотепло
					ul.true
						li Сделано в Челябинске
						li Заводские штампы и логотип с ссылкой на avtoteplo.org
						li Продаётся в фирменном пакете с паспортом и буклетом
						li Весит не менее 3 кг
						li Материал не щиплет руки, не пылит и не крошится
						li Образец материала не горит
						li Изделие устойчиво к щелочам и кислотам
						li Цена не меньше 1500&#8381;
				.fakefake
					h4 Поддельные автоодеяла
					ul.fakethis
						li Кустарное производство
						li Выдерживает до 500&#176; вместо 1200&#176;
						li Может загореться
						li Если в комплекте идут перчатки, значит внутри опасная стекловата
						li Крошится, пылит, щиплет руки
						li Нет сертификатов и патентов
		section#video_a
			h2 Видео про Автотепло
			.videocontent
				.video
					iframe(width='300', height='220', src='https://www.youtube.com/embed/L-SakHjGWAA', frameborder='0', allowfullscreen='')
				.video
					iframe(width='300', height='220', src='https://www.youtube.com/embed/1QgaPwadDSE', frameborder='0', allowfullscreen='')
				.video
					iframe(width='300', height='220', src='https://www.youtube.com/embed/BBrfEuJ9t70', frameborder='0', allowfullscreen='')
		section.last
			h2 Наша продукция
			.lastcontent
				.product_1
						.product_11
							h4 Автотепло 
							p С ним на капоте не появляется наледь, машина лучше заводится в мороз и быстрее прогревается, что экономит 20-30% топлива.
							a Узнать больше и купить
							.bg
						.product_12
							.bg
							h4 Автотепло для аккумулятора
							p Защищает от перепадов температур и продлевает срок службы батареи
							em Скоро в продаже
				.product_23
					.product_2
						.bg
						h4 Огнезащитные чехлы для газовых баллонов
						p Рекомендовано пожарными: в случае пожара выдерживает 40-60 минут и защищает от любых воздействий
						em Скоро в продаже
					.product_3
						.product_31
							.bg
							h4 Тепломатрас
							p Тепло в любомй мороз на охоте, рыбалке и походе
							em Скоро в продаже
						.product_32
							.bg
							h4 Огнезащита для дымоходов
							em Скоро в продаже
			.military
				.carthis
				p Автотепло на военных Уралах в Арктике &#9679; 
					a(href="#") Продукция по индивидуальному заказу
		footer
			.footerr
				.foot_1
					.phonenum
						p С 6 до 21 &#9679; Бесплатно по РФ
						a(href="tel:88005113151") 8 800 511 31 51
					.info
						p г. Челябинск, ул. Краснознаменная, 28
						p 
							a(href="mailto:info@avtopteplo.org") info@avtopteplo.org
						p Оптовикам: 8 (351) 216-31-61
					.social
						p Аккаунты в социальных сетях
						a(href="https://vk.com/tdavtoteplo")
							img(src='img/vk.png', alt='vk')
						a(href="https://twitter.com/avtoteplo174")
							img(src='img/twttr.png', alt='twitter')
						a(href="https://www.youtube.com/user/avtoteplo74")
							img(src='img/y.png', alt='youtube')
						a(href="https://telegram.me/avtoteplo_org")
							img(src='img/tlgrm.png', alt='telegram')
				.foot_23
					.foot_2
						ul
							li
								a(href="#") Главная
							li
								a(href="") 
									strong Продукция
							li
								a(href="") Компания
							li
								a(href="") Партнерам
							li
								a(href="") Публикация в СМИ и исследования
					.foot_3
						ul
							li
								a(href="#") Магазины
							li
								a(href="") Доставка и оплата
							li
								a(href="") Гарантия и возврат
							li
								a(href="") Контакты
			.lst
				p &#169; 2017, Автоодеяло «Автотепло» - официальный сайт производителя утеплителей для двигателей автомобилей, Челябинск.

		script(type='text/javascript', src='js/jquery-3.2.1.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script(type='text/javascript', src='js/main.js')
